@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Login & SignUp Pages Starts */

.bannerImageBackground {
    background: linear-gradient(206.31deg, rgba(119, 137, 241, 0.5) 0%, rgba(158, 229, 218, 0.5) 23.23%, rgba(158, 229, 218, 0.5) 83.12%, rgba(119, 137, 241, 0.5) 100%);
}

.goBackPage {
    background: linear-gradient(180deg, #9EE5DA 0%, #7789F1 100%);
}

.pageSectionHeadings {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    background: linear-gradient(260.72deg, #7789F1 0%, #9EE5DA 37.73%, #9EE5DA 97.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.inputGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.labelInputDiv {
    padding: 0 2px;
    position: absolute;
    left: 17px;
    top: 12px;
    transition: all 0.1s linear;
}

.labelInputDiv.activeLabel {
    background-color: #fff;
    padding: 0 4px;
    position: absolute;
    top: -14px;
    left: 25px;
    z-index: 0;
}

.labelInputDiv label {
    color: #A5A5A5;
    cursor: text;
    transition: all 0.1s linear;
}

.labelInputDiv.activeLabel label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    background: linear-gradient(180deg, #9EE5DA 0%, #7789F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.inputGroup input {
    width: 98%;
    margin: auto;
    padding: 12px 12px;
    outline: none;
    border-width: 2px;
    border-radius: 8px;
    border: 2px solid #9EE5DA; 
    color: #232323;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px; 
}

.loginOptions {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
}

.checkboxOption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.checkboxOption input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.accountInOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.accountInOptions button[type="submit"] {
    padding: 10px 24px;
    background: linear-gradient(to left, #7789F1 0%, #9EE5DA 31.56%);
    border-radius: 40px;
    color: #232323;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.4s ease;
}

.accountInOptions button[type="submit"]:hover {
    background: linear-gradient(to left, #9EE5DA 0%, #7789F1 100%);
}

.accountInOptions .buttonWrapper {
    
    padding: 7px 24px;
    background: #fff;
    border-radius: 40px;
    border: 2px solid #9EE5DA; 
    transition: all 0.4s ease;
    
}

.buttonWrapper:hover {
    background: linear-gradient(to left, #7789F1 0%, #9EE5DA 31.56%);
}

.buttonWrapper .linkingButton {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(to left, #9EE5DA 0%, #7789F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.buttonWrapper:hover .linkingButton {
    color: #232323;
    background: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #232323;
    background-clip: none;
}

/* Login & SignUp Pages Ends */

@tailwind utilities;